<div id="mc_embed_signup">
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<form action="//oresat.us9.list-manage.com/subscribe/post?u=50032f530813763dd93f4ca61&amp;id=e02aaa4eab" role="form" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
 <div id="mc_embed_signup_scroll">
  <div class="mc-field-group">
    <label for="mce-EMAIL" class="control-label">Email Address  <span class="asterisk">*</span></label>
    <div class="mc-field"><input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"></div>
  </div>
  <div class="mc-field-group">
	<label for="mce-FNAME" class="control-label">First Name </label>
	<div class="mc-field"><input type="text" value="" name="FNAME" class="" id="mce-FNAME"></div>
  </div>
  <div class="mc-field-group">
	<label for="mce-LNAME" class="control-label">Last Name </label>
	<div class="mc-field"><input type="text" value="" name="LNAME" class="" id="mce-LNAME"></div>
  </div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>
  <div style="position: absolute; left: -5000px;"><input type="text" name="b_50032f530813763dd93f4ca61_e02aaa4eab" tabindex="-1" value=""></div>
  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
 </div>
</form>
</div>
