<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% include analytics.html %}

  <!--[if IE]><link rel="shortcut icon" href="/favicon.ico"><![endif]-->
  <link rel="icon" href="/assets/img/favicon.png">
  <link rel="apple-touch-icon" href="/assets/img/favicon.png">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,800%7CRoboto:100,300" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/assets/style.css">
  <title>OreSat - {{ page.title }}</title>
</head>
<body>
 <div class="wrapper">
  <div id="header-one">
   <h1><img src="/assets/img/logo.svg" alt="logo">Oregon Small Satellite Project</h1>
  </div>
  <div id="header-two">
   <span class="sat"><img src="/assets/img/cubesat.svg" alt="[]"></span>
  </div>
  <div id="content">
   {{ content }}
  </div>
 </div>
 <div id="footer">
  <div id="info">
   <p>&copy; {{ site.time | date: '%Y' }} <a href="http://oresat.org/">Oregon Small Satellite Project</a></p>
   <p>Having trouble viewing the site? <a href="https://github.com/oresat/oresat.github.io/issues">Report an issue.</a></p>
  </div>
 </div>
</body>
</html>
